body {
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
}

.container {
    width: 360px;
    margin: 100px auto;
    background: #020617;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

h2 {
    text-align: center;
    color: #38bdf8;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #020617;
    border: 1px solid #334155;
    color: white;
    border-radius: 4px;
}

button {
    background: #2563eb;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

a {
    color: #38bdf8;
    text-decoration: none;
}
