apiVersion: v1
kind: Namespace
metadata:
  name: react-app

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app-usage
  namespace: react-app
spec:
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
      - name: react-app
        image: prateekkumawat/demoapp:react-1.0
        resources:
          requests: 
            cpu: "500m"
            memory: "128Mi"
          limits:
            memory: "500Mi"
            cpu: "800m"
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: react-app-svc
  namespace: react-app
spec:
  selector:
    app: react-app
  type: NodePort  
  ports:
  - port: 80
    targetPort: 80
